---
import Layout from '../layouts/Layout.astro';
import "../styles/estilos_principales.scss"
import "../styles/estilos_mobil.scss"
---

<Layout title="Morthlet" descripcion="Página de inicio" palabras="hola">
	<main >
		<!--SECCIÓN PRINCIPAL-->
		<section class= "principal container-fluid text-center position-relative" id="arriba">			
			<div class="row">
				<div class ="col-12 bannerInicio" > <!--quité clase "limitado"-->
					<div class="logo position-absolute top-50 start-50 translate-middle">
						<img src= "images/1Index/logo.png" alt="Imagen de fondo para ejemplo" width="35%" id="Logotipo">
						<p>DYNAMIC. <span>MINIMALIST.</span> PROFESSIONAL.</p>		
					</div>		
				</div>
				<div class="gradienteNegro"></div>
			</div>
		</section>
			
		<!-- SECCIÓN INTRODUCCIÓN -->
		<section class="aboutme position-relative pt-1 pb-1">
			<div class="row justify-content-md-center m-0" 
			data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
				<div class ="sobreMi col-lg-5 col-md-12 text-center">
					<h4>¡BIENVENIDS</h4>
					<br>
					<p id="presentacion">Mi nombre es Omar Rangel y soy Licenciado en
						Artes Digitales apasionado por el diseño multimedia y redes sociales.
					</p><br><br>
						<!-- 
						<svg height="30px" width="100%">
							<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(255,255,255);stroke-width:4;text-align:center;" />
						</svg>
						-->
					<p id="explicacion">
						Morthlet is <span>mo</span>re <span>th</span>an <span>let</span>ters!
						<br>
						<br>
						<span>Morthlet</span> es mi marca personal. Nace del sueño de crear, innovar y
						condensar mi pensamiento artístico a la realidad. <span>Soy un
						profesional que cuida</span> en extremo <span>los detalles</span>, pues son estos los
						que marcan la diferencia.
						<br>
						<br>
						Me desenvuelvo en todas de las áreas del arte digital con
						especialidad en <span>motion graphics, ilustración 3D y diseño gráfico.</span>
					</p><br>	
					<a class="botonGaleria" href="/galeria" role="button">Ir a Portafolio</a>
				</div>
				<div class ="retrato col-lg-5 col-md-8 col-sm-8 text-center">
					<br>
					<img src= "images/1Index/sobreMi.png" alt="¡Este soy yo!" width="90%">
				</div>
			</div>
		</section>
		
		<!--SECCIÓN FRASE UNO-->
		<section class= "fraseUno container-fluid text-center position-relative" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
			<div class="row">
				<div class ="col-lg-12 p-0 position-relative" style="height: 100%;">
					<img src= "images/1Index/frase1.webp" alt="Menos es más" width="100%">	
				</div>
			</div>
		</section>

		<!--SECCIÓN SERVICIOS-->
		<section class= "servicios container-fluid position-relative" >
			<div class="infoServicios" 
			data-aos="zoom-out" data-aos-delay="100" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
				<!-- Titular Servicios e información -->
				<h1>SERVICIOS</h1>
				<p>Descubre las cosas que puedo hacer por tí:</p>
			</div>

			<div class="container-fluid" 
			data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
				<!-- Primera fila -->
				<div class="row primeraFila justify-content-md-center m-0"  >
					<div class ="elementoS col-lg-3 col-sm-8 justify-content-md-center p-0 m-0" >
						<div class="row">
							<div class ="col-md-3 text-center align-self-center">
								<img src= "icons/camera-b.svg" width="100%" class="iconosS">	
							</div>
							<div class ="cuadro S col-md-9">
								<h2>Sesión Fotográfica</h2> 
								<br>
								<p>Sesión casual o con luces de estudio. 12
								fotografías digitales con dos atuendos y
								aditamentos.</p>
							</div>
						</div>
					</div>
					<div class ="elementoS col-lg-3 col-sm-8 justify-content-md-center p-0 m-0">
						<div class="row">
							<div class ="col-md-3 text-center align-self-center">
								<img src= "icons/design-b.svg" width="100%" class="iconosS">	
							</div>
							<div class ="cuadro S col-md-9">
								<h2>Diseño de Logotipos</h2> 
								<br>
								<p>Logotipos convencionales y tipográficos
								llenos de carácter y personalidad para
								exaltar la esencia de tu marca..</p>
							</div>
						</div>
					</div>
					<div class ="elementoS col-lg-3 col-sm-8 justify-content-md-center p-0 m-0">
						<div class="row">
							<div class ="col-md-3 text-center align-self-center">
								<img src= "icons/motion-b.svg" width="100%" class="iconosS">	
							</div>
							<div class ="cuadro S col-md-9">
								<h2>Motion Graphics</h2> 
								<br>
								<p>Animaciones 2D de personajes, objetos y
								figuras que den un toque fresco a tu marca,
								video corporativo o tus redes sociales.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Segunda fila -->
				<div class="row segundaFila justify-content-md-center m-0">
					<div class ="elementoS col-lg-3 col-sm-8 justify-content-md-center p-0 m-0">
						<div class="row">
							<div class ="col-md-3 text-center align-self-center">
								<img src= "icons/instalike-b.svg" width="100%" class="iconosS">	
							</div>
							<div class ="cuadro S col-md-9">
								<h2>Creación de Contenido</h2> 
								<br>
								<p>Diseño de publicaciones y contenido para
								redes sociales. Paquetes mensuales,
								trimestrales y semestrales.</p>
							</div>
						</div>
					</div>
					<div class ="elementoS col-lg-3 col-sm-8 justify-content-md-center p-0 m-0">
						<div class="row">
							<div class ="col-md-3 text-center align-self-center">
								<img src= "icons/3d-b.svg" width="100%" class="iconosS">	
							</div>
							<div class ="cuadro S col-md-9">
								<h2>Modelado 3D</h2> 
								<br>
								<p>Piezas, personajes sencillos o assets para
								tus escenas, videojuegos o recorridos
								virtuales en Unity.</p>
							</div>
						</div>
					</div>
					<div class ="elementoS col-lg-3 col-sm-8 justify-content-md-center p-0 m-0">
						<div class="row">
							<div class ="col-md-3 text-center align-self-center">
								<img src= "icons/vr-b.svg" width="100%" class="iconosS">	
							</div>
							<div class ="cuadro S col-md-9">
								<h2>Realidad Virtual</h2> 
								<br>
								<p>Recorridos arquitectónicos, o galerías
								virtuales que permitan mostrar tu portafolio
								3D. Hecho en Unity.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!--SECCIÓN DESCARGAS-->
		<section class= "descargas container-fluid position-relative" >
			<div class="infoDescargas" 
			data-aos="zoom-out" data-aos-delay="100" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
				<!-- Titular Descargas e información -->
				<h1>DESCARGAS</h1>
				<p>¡Descarga algunos fondos de pantalla y contenido adicional completamente gratis!</p>
			</div>
			<!-- Primera fila -->
			<div class="container-fluid" 
			data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
				<div class="row justify-content-md-center m-0">
					<div class ="elementoD col-lg-12 col-md-10 justify-content-md-center">
						<div class="row justify-content-md-center">
							<div class ="col-md-3 text-center"> <!--  align-items-flex-end -->
								<h3>Cursed Lighthouse</h3>
								<p>Técnica: Ilustración 3D</p>	
								<img src="images/1Index/valor-1.webp" width="70%">
								<p id="descripciones">
									Pequeño diorama 3D con una
									atmósfera misteriosa en estética lowpoly.
								</p>	
							</div>
							<div class ="col-md-3 text-center">
								<h3>Cubo Fibonacci</h3>
								<p>Técnica: Ilustración 3D</p>	
								<img src="images/1Index/valor-2.webp" width="70%">
								<p id="descripciones">
									Cubo futurista construido a partir de Geometry Nodes.
								</p>	
							</div>
							<div class ="col-md-3 text-center">
								<h3>Wooper</h3>
								<p>Técnica: Ilustración 3D</p>	
								<img src="images/1Index/valor-3.webp" width="70%">
								<p id="descripciones">
									Este Wooper no sabe nadar, pero no es impedimento
									para disfrutar de sus vacaciones.
								</p>	
							</div>
							<div class ="col-md-3 text-center">
								<h3>Camino a Mictlán</h3>
								<p>Técnica: Ilustración 3D</p>	
								<img src="images/1Index/valor-4.webp" width="70%">
								<p id="descripciones">
									Camino que siguen todas las almas que mueren
									en este plano físico. Estética Lowpoly.
								</p>	
							</div>
						</div>
						<!-- Segunda Fila -->
						<div class="row segundaFila">
							<div class ="col-md-3 text-center p-0 m-0">
								<h3>Pozo sin fondo</h3>
								<p>Técnica: Modelado 3D</p>	
								<img src="images/1Index/valor-5.webp" width="70%">
								<p id="descripciones">
									Pozo Lowpoly, con tejas Lowpoly, con ladrillos
									Lowply y cuerdas Lowpoly.
								</p>	
							</div>
							<div class ="col-md-3 text-center p-0 m-0">
								<h3>Máscara Yokai</h3>
								<p>Técnica: Modelado 3D</p>	
								<img src="images/1Index/valor-6.webp" width="70%">
								<p id="descripciones">
									Este Yokai tiene el poder de unir lo fabuloso
									de dos culturas hermosas cempasúchil y flor de cerezo.
								</p>	
							</div>
							<div class ="col-md-3 text-center p-0 m-0">
								<h3>Brilliant Mushrooms</h3>
								<p>Técnica: Modelado 3D</p>	
								<img src="images/1Index/valor-7.webp" width="70%">
								<p id="descripciones">
									Toma uno, no son alucinógenos, ¡lo juro!
								</p>	
							</div>
							<div class ="col-md-3 text-center p-0 m-0">
								<h3>Ancient Magical Sky Castle</h3>
								<p>Técnica: Modelado 3D</p>	
								<img src="images/1Index/valor-8.webp" width="70%">
								<p id="descripciones">
									¿No quedó claro con el nombre?:) Animación presentada
									en la quinta edición de Leon Light Fest.
								</p>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
