---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Proyectos | Morthlet" descripcion="" palabras="">
<main id="paginaProyectos">
    
    <!--SECCIÓN BANNER PROYECTOS-->
	<section class= "principal2 container-fluid text-center position-relative">
		<div class= "row">
			<div class="col-12 bannerProyecto"></div>
			<div class="gradienteNegro2"></div>
		</div>
	</section>

    <!--SECCIÓN INTRODUCCIÓN-->
    <section class="proyecto1 container-fluid text-center position-relative">
        <div class="Introduccion container-fluid" 
        data-aos="fade-up" data-aos-delay="100" 
        data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
        <h1>PROYECTO: TENOCHTITLÁN</h1>
        <svg height="30px" width="50%">
            <line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(255,255,255);stroke-width:4;text-align:center;" />
        </svg>
            <img src="/proyecto1Portada.webp" alt="Tenochtitlán" width="80%" class="p1Portada">
            <p id="introP1">
                "Tenochtitlán" es un proyecto creado con la finalidad
                de exaltar la cultura prehispánica y su hermosa arquitectura. Esta 
                nueva corriente de arte plasma a través de distintos soportes de arte
                escenarios, personajes y temáticas correspondientes a ese periodo histórico
                con el propósito de valorar más lo propio antes que lo de fuera.
                <br><br>
                Tenochtitlán consta de un proceso compuesto por varias etapas desde la
                concepción de la idea, el bocetaje, puppet 2D, modelado 3D, rigging y 
                animación que disfruté demasiado hacer. A continuación dejo este proceso
                de manera un poco más detallada.
            </p>
        </div>
    </section>

    <!--SECCIÓN MOODBOARD E INSPIRACIÓN-->
    <section class="Moodboard container-fluid text-center position-relative"
    data-aos="fade-up" data-aos-delay="100" 
    data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
        <div class="infoMoodboard">
			<h1>MOODBOARD E INSPIRACIÓN</h1>
		</div>
        <p id="moodP1">
            Desde el inicio siempre tuve en mente crear un estilo "cartoon"
            para restar de la seriedad que ya de por sí se le da a la historia en 
            nuestro país. Por lo que tomé referencias no solo de imágenes ilustrativas
            del estilo de vida de ese entonces, sino de algunas ilustraciones coloridas
            que encontré en internet y de como se preserva en la actualidad la cultura
            a través de bailes y ornamentación.
            <br><br>
            Tenochtitlán consta de un proceso compuesto por varias etapas desde la
            concepción de la idea, el bocetaje, puppet 2D, modelado 3D, rigging y 
            animación que disfruté demasiado hacer. A continuación dejo este proceso
            de manera un poco más detallada. Este es el resultado de la búsqueda de 
            referencias;
        </p>
        <div>
            <img src="/proyecto1Moodboard.webp" alt="Tenochtitlán" class="p1Mood">
        </div>
        <p id="moodP1">El resultado es una mezcla de elementos propios de la cultura
            mexicana prehispánica condensados en bocetos para dar forma a mi personaje 
            principal. La idea es que este haga un recorrido místico entre las pirámides 
            para conseguir un tesoro. Esto es lo que me llevo al proceso que describo
            a continuación:
        </p>
    </section>

    <!--SECCIÓN PRODUCCIÓN-->
    <section class="proyecto2 container-fluid text-center position-relative">
        <div class="Produccion container-fluid" 
        data-aos="fade-up" data-aos-delay="100" 
        data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <h1>PRODUCCIÓN</h1>
            <!--Primera fila-->
            <div class= "row justify-content-center my-1">
                <div class="container col-lg-6 col-sm-8 position-relative">
                    <img src="/proyecto1Produccion1.webp" alt="Producción 1" class="p1Prod">
                    <button class="botonProyectos" style="color:black; border:1px solid black">Concept Art</button>
                </div>
                <div class="container col-lg-6 col-sm-8 position-relative">
                    <img src="/proyecto1Produccion2.webp" alt="Producción 2" class="p1Prod">
                    <button class="botonProyectos">Caminata 2D</button>
                </div>
            </div>
            <p id="prodP1">La primera etapa del proceso consistió en bocetar a nuestro personaje
                principal: Mixtli. Se retomaron los rasgos característicos del mexicano pero además
                se le quiso dar una estética de "extraterreste" a modo de experimentación.
                Posterior al bocetaje se creó una marioneta, se articuló y se animó una caminata 
                mediante After Effects.
            </p>
            <!--Segunda fila-->
            <div class= "row justify-content-center my-1">
                <div class="container col-lg-6 col-sm-8 position-relative">
                    <img src="/proyecto1Produccion3.webp" alt="Producción 1" class="p1Prod">
                    <button class="botonProyectos">Modelado Y Rig</button>
                </div>
                <div class="container col-lg-6 col-sm-8 position-relative">
                    <img src="/proyecto1Produccion4.webp" alt="Producción 2" class="p1Prod">
                    <button class="botonProyectos">Render Final</button>
                </div>
            </div>
            <p id="prodP1">Finalmente se procedió a modelar el personaje en 3D, hacer su esqueleto,
                buscar referencias de movimientos humanos, modelar escenarios, texturizar y animar
                cada una de las escenas para obtener el siguiente resultado:
            </p>
        </div>
        <svg height="30px" width="50%">
            <line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(255,255,255);stroke-width:4;text-align:center;" />
        </svg>
        
        <div class="container col-10 text-center">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/-VpT-8sbN1M" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
            gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
        </div>

    </section>
</main>
</Layout>